<h2>Ajouter un bien</h2>
<form action="/action_page.php">
  <div class="mb-3 mt-3">
    <label for="city">Ville : </label>
    <input [(ngModel)]="property.city" type="city" class="form-control" id="city" placeholder="Entez une ville" name="city">
  </div>
  <div class="mb-3 mt-3">
    <label for="price">Prix : </label>
    <input [(ngModel)]="property.price" type="price" class="form-control" id="price" placeholder="Entez un prix" name="price">
  </div>
  <div class="mb-3 mt-3">
    <label for="notaryFees">Frais de notaire : </label>
    <input [(ngModel)]="property.notaryFees" type="notaryFees" class="form-control" id="notaryFees" placeholder="Entez les frais de notaire" name="notaryFees">
  </div>
  <div class="mb-3 mt-3">
    <label for="surface">Surface : </label>
    <input [(ngModel)]="property.surface" type="surface" class="form-control" id="surface" placeholder="Entez une surface" name="surface">
  </div>
  <div class="mb-3 mt-3">
    <label for="renovation">Coût des travaux : </label>
    <input [(ngModel)]="property.renovation" type="renovation" class="form-control" id="renovation" placeholder="Entez le coût des travaux" name="renovation">
  </div>
  <div class="mb-3">
    <label for="rent">Prix du loyer : </label>
    <input [(ngModel)]="property.rent" type="rent" class="form-control" id="rent" placeholder="Entez le pprix du loyer" name="rent">
  </div>
  <div class="mb-3">
      <label for="dsc">Description : </label>
      <input [(ngModel)]="property.description" type="description" class="form-control" id="dsc" placeholder="Entez une description" name="description">
    </div>
  <button type="submit" class="btn btn-primary" (click)="onCalculate()">Calculer</button>
  &nbsp;
  <button class="btn btn-secondary" routerLink="/products">Revenir à la liste</button>

</form><p>create-property works!</p>
